@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region --- Header styles --- */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Title {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-icon {
  margin: 10px;
}

.header-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: rgb(234, 234, 234);
  color: #555;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.header-btn:hover {
  background-color: #34a853;
  color: #fff;
}

header .fa-leaf {
  font-size: 40px;
  margin-right: 15px;
}

span.cart-count {
  margin-left: 4px;
  min-width: 18px;
  text-align: center;
  display: inline-block;
}

body {
  margin-top: 80px;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #555;
}

/* #endregion --- Header styles --- */

/* #region --- Cart styles --- */
.cart {
  padding: 20px;
  max-width: 600px;
  margin: 80px auto;
  background-color: #f5f5f5;
}

.cart h2 {
  text-align: center;
  margin-bottom: 30px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item-left {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex: 1;
  min-width: 0; /* evita desbordament */
}

.cart-item-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-item p {
  font-size: 14px;
}

.cart-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-quantity span {
  min-width: 18px;
  text-align: center;
  display: inline-block;
}

.cart-quantity button {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: rgb(234, 234, 234);
  color: #555;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cart-quantity button:hover {
  background-color: #34a853;
  color: #fff;
}
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 13px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-summary span {
  font-weight: 400;
}

.cart-summary button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: rgb(234, 234, 234);
  color: #555;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.cart-summary button:hover {
  background-color: #34a853;
  color: #fff;
}

.message-empty {
  font-size: 22px;
  text-align: center;
  color: #6b6b6b;
  margin: 50px 20px 20px 20px;
  padding: 20px;
  background-color: #eaeaea;
  border-radius: 8px;
}

/* #endregion --- Cart styles --- */

/* #region --- Card styles --- */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
  padding: 20px;
  justify-items: center;
}

.product-list .productCard:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  transition: all 0.1s ease-in-out;
}

.productCard {
  width: 260px;
  max-height: auto;
  display: block;
  padding: 14px 14px 4px 14px;
  margin: 16px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: start;
}

.productCard-imgWrapper {
  height: 240px;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}

.productCard-img {
  width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 6px;
  display: block;
  margin-bottom: 8px;
}

.productCard-title {
  padding: 14px 0 8px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1rem; /* mida constant i segura */
  line-height: 1.3rem; /* altura EXACTA per línia */
  max-height: calc(1.3rem * 2.6); /* 2 línies = 2 * line-height */
  font-weight: 500;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.productCard-info {
  padding: 12px 0 0 0;
  color: #555;
  font-size: 14px;
}

.productCard-co2Saved,
.productCard-waterSaved {
  background-color: rgb(234, 234, 234);
  padding: 4px 8px;
  border-radius: 4px;
  margin: 2px 6px 6px 0;
}

.productCard-price {
  padding: 4px 0;
  font-size: 20px;
}

.productCard-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0 8px 0;
  margin-top: 12px;
}

.productCard-footer-left {
  font-size: 20px;
}

.productCard-footer-right {
  display: flex;
  gap: 10px;
}
/* #endregion Products */

/* #region --- Icon styles --- */
.green-leaf {
  color: #34a853;
}
/* #endregion Icon styles */
