@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region --- Header styles --- */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-count-header-desktop {
  text-decoration: none;
  color: #777;
  font-size: 17px;
  font-weight: bold;
}

.mobile-cart-count {
  display: none;
  position: relative;
  margin-right: 6px;
}

.mobile-home {
  display: none;
  position: relative;
  margin-right: 50px;
}

.mobile-heart {
  display: none;
  position: relative;
  margin-right: 96px;
}

.mobile-cart-count .cart-count {
  text-decoration: none;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #2e7d32;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-heart .cart-count {
  text-decoration: none;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #2e7d32;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-responsive {
  font-size: 19px;
  color: #555;
}

.mobile-cart-count:link,
.mobile-cart-count:visited,
.mobile-cart-count:hover,
.mobile-cart-count:active {
  color: inherit;
}

.mobile-home:link,
.mobile-home:visited,
.mobile-home:hover,
.mobile-home:active {
  color: inherit;
}

.mobile-heart:link,
.mobile-heart:visited,
.mobile-heart:hover,
.mobile-heart:active {
  color: inherit;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #555;
  display: flex;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-icon {
  margin: 10px;
}

.header-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: rgb(234, 234, 234);
  color: #555;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.header-btn:hover {
  background-color: #34a853;
  color: #fff;
}

header .fa-leaf {
  font-size: 40px;
  margin-right: 15px;
}

span.cart-count {
  position: absolute;
  top: 18px;
  right: 18px;
  background-color: #2e7d32;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin-top: 80px;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #555;
}

/* #endregion --- Header styles --- */

/* #region --- Filters container styles ---*/
.filter-container select {
  padding: 8px 6px;
  border-radius: 4px;
  background-color: rgb(234, 234, 234);
  color: #555;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: none;
  outline: none;
  font-family: inherit;
  margin: 0;
}
/* #endregion filters */

/* #region --- Cart styles --- */
.cart {
  position: relative;
  padding: 20px;
  max-width: 600px;
  margin: 80px auto;
  background-color: #f5f5f5;
}

.cart h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cart h4 {
  margin-bottom: 10px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  align-items: stretch;

  justify-content: space-between;
  min-height: 150px;
  gap: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item-left {
  display: flex;
  align-items: flex-start;
  gap: 22px;
  flex: 1;
  min-width: 0; /* evita desbordament */
}

.cart-item-left img {
  width: 100px;
  object-fit: cover;
  max-height: 90px;
  margin: 10px;
  border-radius: 8px;
}

.cart-item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 60px;
  min-width: 150px;
  flex-shrink: 0;
}

.cart-item p {
  font-size: 13px;
}

.cart-item p.cart-item-price {
  font-size: 14px;
  font-weight: 500;
  margin-left: 4px;
}
.cart-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-quantity span {
  min-width: 18px;
  text-align: center;
  display: inline-block;
}

.cart-quantity button {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: rgb(234, 234, 234);
  color: #555;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  -webkit-tap-highlight-color: transparent; /* Elimina el blau en iOS */
  user-select: none; /* Evita selecció de text */
}

/* Canvia focus vs active*/
.cart-quantity button:active {
  background-color: #34a853;
  color: #fff;
  transform: scale(0.8);
}

/* Mantenir focus només per a teclat (accessibilitat) */
.cart-quantity button:focus-visible {
  outline: 2px solid #34a853;
  outline-offset: 2px;
}

/* Desactiva hover en mòbil */
@media (hover: none) {
  .cart-quantity button:hover {
    background-color: rgb(234, 234, 234);
    color: #555;
  }
}

.cart-summary-fixed {
  display: block;
  position: fixed;
  top: 90px; /* Ajusta segons el teu header */
  right: 20px;
  width: 138px;
  opacity: 0.95;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  z-index: 1000;
}

.cart-summary-fixed p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  font-size: 14px;
}

div .cart-summary-fixed-title {
  margin-bottom: 10px;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 13px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-summary span {
  font-weight: 400;
  display: inline-block;
  min-width: 120px;
  text-align: left;
  white-space: nowrap;
  margin-left: 2px;
}

.cart-summary span i {
  margin-left: 3px;
}

.cart-summary button,
.cart-summary-fixed button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: rgb(234, 234, 234);
  color: #555;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.cart-summary-fixed button {
  margin-top: 12px;
}

.cart-summary button:hover,
.cart-summary-fixed button:hover {
  background-color: #34a853;
  color: #fff;
}

.message-empty {
  font-size: 22px;
  text-align: center;
  color: #555;
  margin: 50px 20px 20px 20px;
  padding: 20px;
  background-color: #eaeaea;
  border-radius: 8px;
}

/* #endregion --- Cart styles --- */

/* #region --- favorite styles ---  */

.cart-item-right-favorites {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
  min-width: 150px;
  padding: 5px;
  gap: 10px;
  flex-shrink: 0;
}

/* #endregion --- favorite styles ---  */

/* #region --- Card styles --- */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 20px;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto 50px;
}

.product-list .productCard:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  transition: all 0.1s ease-in-out;
}

.productCard {
  width: 240px;
  max-height: auto;
  display: block;
  padding: 14px 14px 4px 14px;
  margin: 16px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: start;
}

.btnProductClick {
  cursor: pointer;
}

.productCard-imgWrapper {
  height: 240px;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}

.productCard-img {
  width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 6px;
  display: block;
  margin-bottom: 8px;
}

.productCard-title {
  padding: 14px 0 8px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1rem; /* mida constant i segura */
  line-height: 1.3rem; /* altura EXACTA per línia */
  max-height: calc(1.3rem * 2.6); /* 2 línies = 2 * line-height */
  font-weight: 500;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.productCard-info {
  padding: 12px 0 0 0;
  color: #555;
  font-size: 14px;
}

.productCard-co2Saved,
.productCard-waterSaved {
  background-color: rgb(234, 234, 234);
  padding: 2px 6px;
  border-radius: 4px;
  margin: 2px 6px 6px 0;
  font-size: 13px;
}

.productCard-price {
  padding: 4px 0;
  font-size: 20px;
}

.productCard-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0 8px 0;
  margin-top: 12px;
}

.productCard-footer-left {
  font-size: 20px;
}

.productCard-footer-right {
  display: flex;
  align-items: end;
  gap: 10px;
}

.productCard-addToCart {
  position: relative;
  border: none;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  background-color: rgb(234, 234, 234);
  color: #555;
  user-select: none; /* Evita selecció de text */
  -webkit-tap-highlight-color: transparent; /* Elimina el color blau en mòbil */
}

.productCard-removeFromCart,
.trash-cart {
  position: relative;
  border: none;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  background-color: rgb(234, 234, 234);
  color: #555;
  user-select: none; /* Evita selecció de text */
  -webkit-tap-highlight-color: transparent;
}

.productCard-heart {
  position: relative;
  border: none;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  background-color: rgb(234, 234, 234);
  color: #555;
  user-select: none; /* Evita selecció de text */
  -webkit-tap-highlight-color: transparent;
}

.productCard-addToCart .cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #2e7d32;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  width: 16px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hover (desktop) */
.productCard-addToCart:hover,
.productCard-removeFromCart:hover .productCard-heart:hover,
.trash-cart:hover {
  background-color: #34a853;
  color: #fff;
}

/* Active (quan estàs pressionant) */
.productCard-addToCart:active,
.productCard-removeFromCart:active,
.productCard-heart:active,
.trash-cart:active {
  background-color: #2e7d32;
  color: #fff;
  transform: scale(0.97);
}

/* Quan el botó està "focus" (per teclat) */
.productCard-addToCart:focus-visible,
.productCard-removeFromCart:focus-visible,
.productCard-heart:focus-visible,
.trash-cart:focus-visible {
  background-color: #34a853;
  color: #fff;
  outline: 2px solid #34a853;
  outline-offset: 2px;
}

/* Per dispositius tàctils: elimina hover */
@media (hover: none) {
  .productCard-addToCart:hover,
  .productCard-removeFromCart:hover,
  .productCard-heart:hover {
    background-color: rgb(234, 234, 234);
    color: #555;
  }

  .productCard-addToCart:active,
  .productCard-removeFromCart:active,
  .productCard-heart:active {
    background-color: #2e7d32;
    color: #fff;
    transform: scale(0.97);
    transition: background-color 0.9s; /* Més lent per veure-ho millor */
  }
}

/* #endregion Cards styles */

/* #region --- Icon styles --- */

.green-leaf {
  color: #34a853;
}

.blue-droplet {
  color: #0077ad;
}

.yellow-star {
  color: #ffcc00;
}

.green-heart {
  color: #31a04f;
}

.productCard-waterSaved i.blue-droplet {
  margin-left: 2px;
  font-size: 11px;
}

.productCard-co2Saved i.green-leaf {
  margin-left: 2px;
  font-size: 12px;
}
/* #endregion Icon styles */

/* #region --- Footer --- */
footer {
  display: flex;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background-color: white;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  color: #555;
}

footer a {
  color: inherit;
  text-decoration: none;
  padding: 5px 7px;
  font-size: 20px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

footer a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px 7px;
  border-radius: 4px;
}

footer a:active {
  transform: scale(0.97);
}

footer i {
  margin-right: 6px;
}

footer i.fab {
  color: #34a853;
}

footer span {
  color: #555;
  font-size: 19px;
}
/* #endregion Footer --- */

/* #region --- Responsive --- */

/* Botó menú hamburguesa - Ocult per defecte (desktop) */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #2e7d32;
  cursor: pointer;
  padding: 8px;
  z-index: 1001;
}
@media screen and (max-width: 840px) {
  .cart-summary-fixed {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .header-btn,
  .filter-container select {
    font-size: 14px;
  }

  .title {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    height: 72px;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  header .leaf-header {
    font-size: 28px;
  }

  .mobile-cart-count,
  .mobile-home,
  .mobile-heart {
    display: block;
    position: absolute;
    right: 75px;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
  }

  /* Menú ocult per defecte en mòbil*/
  nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
  }

  nav.active {
    display: flex;
  }

  .filter-container {
    width: 100%;
  }

  .filter-container select {
    width: 100%;
  }

  .header-btn {
    width: 100%;
    text-align: center;
    padding: 12px;
  }

  h2 {
    margin-top: 5px;
  }
  div.cart-icon {
    display: none;
  }
  .cart-icon {
    justify-content: center;
    margin-top: 8px;
  }
}

@media screen and (max-width: 600px) {
  .Title {
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  .menu-toggle {
    font-size: 20px;
  }

  .cart-item {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  /* --------------------------------- */

  .cart-item-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    width: 100%;
  }

  .cart-quantity {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 30px;
  }

  .productCard-removeFromCart {
    margin-top: 0;
  }
  /* --------------------------------- */
  .cart-summary {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  .cart-summary h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
  }

  .cart-summary button {
    width: 100%;
    margin-top: 10px;
    padding: 14px;
    font-size: 18px;
  }
}
/* #endregion responsive */

/* #region --- Modal Container --- */

/* Modal container  */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Canviat de 100% a 100vh per seguretat */
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(2px);
}

.product-modal {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  animation: modalFadeIn 0.3s ease-out;
}

/* Botó tancar */
.btn-close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: #666;
  cursor: pointer;
  transition:
    color 0.2s,
    transform 0.2s;
  background: none;
  border: none;
  padding: 5px;
}

.btn-close-modal:hover {
  color: #000;
  transform: scale(1.1);
}

/* Títol */
.product-modal h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #555;
  font-size: 1.5rem;
  padding-right: 30px; /* Espai per al botó tancar */
}

/* Text descriptiu */
.product-modal p {
  margin-bottom: 12px;
  line-height: 1.5;
  color: #555;
}

/* Preu destacat */
.product-modal p:nth-of-type(2) {
  font-size: 1.3rem;
  font-weight: bold;
  color: #555;
}

/* Imatge (si canvies <p> per <img>) */
.product-modal img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 8px;
  border: #8d8d8d1c solid 1px;
  margin-top: 15px;
  padding: 20px;
  background-color: #f5f5f581;
}

.product-modal .price {
  text-align: right;
  margin-right: 15px;
}

.eco-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  opacity: 85%;
  margin-bottom: 15px;
  gap: 25px;
  font-size: 14px;
}

/* Animació d'entrada */
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 600px) {
  .product-modal {
    width: 95%;
    padding: 20px;
  }

  .product-modal h2 {
    font-size: 1.3rem;
  }
  .eco-info {
    margin-bottom: 22px;
    gap: 5px;
    font-size: 12px;
  }
}

/* #endregion --- Moal Container --- */
